body {
    border: 15px solid #918E8E;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
}

.date {
    color: #00A2A2;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.header {
    font-size: 2.0rem;
    color: black;
    font-weight: 800;
}

.quote {
    border-left: 5px solid #918E8E;
    padding-left: 5px;
}

.post {
    margin-bottom: 10px;
}